### development mode: production/testing/debug
SetEnv ZOQA_ENV debug
SetEnv ZOQA_ZONE backend
SetEnv ZOQA_LOG 1
### to show error messages uncomment string below - Deprecated. Use ZOQA_ENV=debug
SetEnv ZOQA_DEBUG true
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME}       !-f
RewriteCond %{REQUEST_URI} !(js)
RewriteRule ^(.+)\.(jpg)|(gif)|(png)|(js)|(htc)|(css)$ /404.php [L,R=301]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ /kex/index.php [NC,L]
