.wrapper-goods{
    width: 100%;
    margin: 0 0 20px 0;
    overflow: hidden;
    padding: 20px 0;
    float: left;   
}

    .goods{
        margin: 15px 15px 25px 0;
        width: 245px;
        height: 148px;
        float: left;
        color: #712104;
        position:relative;
    }
        .goods .name{
            margin-bottom: 8px;
        }
        .wrapper-goods .image-box{

            position:absolute;
            top:43px;
            border-radius: 10px;
            box-sizing: content-box;
            width: 100px;
            height: 100px;
            padding: 5px;
            float: left;
            margin: 0 4px 0 0;
            background: -moz-linear-gradient(top,#6C7807, #C6DB0E );
            -pie-background:-moz-linear-gradient(top,#6C7807, #C6DB0E );
            background: -webkit-linear-gradient(top,#6C7807, #C6DB0E );
            background: -o-linear-gradient(top,#6C7807, #C6DB0E );
            background: -ms-linear-gradient(top,#6C7807, #C6DB0E );
            background: linear-gradient(to bottom, #6C7807, #C6DB0E );
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6C7807', endColorstr='#C6DB0E',GradientType=0 );
            behavior: url(js/PIE.htc);
        }
            .image-box  img {
                width: 100px;
                height: 100px;
                border-radius: 5px;

            }
        .description{
            position:absolute;
            top:43px;
            right:0;
            width:133px;
        }
            .description .basket{
                background: #fff;
                width:110px;
                margin: 10px 0;
                text-align: center;
                padding: 5px;
                border-radius: 5px;
                box-sizing: content-box;
                height: 20px;
            }
                .description .basket a{
                    color: #712104;
                    font: 15px/16px Calibri,Arial;
                }
                .description .basket a::before {
                    background: url("../images/basket-hover.png") no-repeat 0 50%;
                    content: 'a';
                    text-indent: -9999px;
                    padding: 10px 10px;
                    color: transparent;
                }
                .description .basket:hover{
                    background: -moz-linear-gradient(top,#6C7807, #C6DB0E );
                    -pie-background:-moz-linear-gradient(top,#6C7807, #C6DB0E );
                    background: -webkit-linear-gradient(top,#6C7807, #C6DB0E );
                    background: -o-linear-gradient(top,#6C7807, #C6DB0E );
                    background: -ms-linear-gradient(top,#6C7807, #C6DB0E );
                    background: linear-gradient(to bottom, #6C7807, #C6DB0E );
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6C7807', endColorstr='#C6DB0E',GradientType=0 );
                    behavior: url(js/PIE.htc);
                }
                .description .basket:hover a{color:#fff;}
                .description .basket:hover a::before {
                    background: url("../images/basket.png") no-repeat 0 50%;
                ;}
            .description .weight,
            .description .cost{
                float: left;
                max-width: 120px;
            }
            .description .cost{
                float: right;
            }
            .description .number-arrow{}
                .number-arrow a.dec img,
                .number-arrow a.inc img{
                    width: 21px;
                    float: right;
                    margin-top: 1px;
                    cursor:pointer;
                }
                .number-arrow a.inc{
                }
                .number-arrow [type="number"]{
                    box-shadow: none;
                    height: 21px;
                    border: none;
                    padding: 0 0 0 5px;
                    width: 64px;
                    border-radius: 0;
                    text-align: center;
                    float: right;
                    margin: 0 10px;
                }
                .num{ -moz-appearance: textfield;}/*чтобы убрать стрелки из number*/

            .description .price{float: right}